@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model IEnumerable<ECommerce.Models.Order>

@{
    ViewData["Title"] = "الطلبات";
}

    <style>
        body{
            background-color:#FFF;
        }
    </style>

<h4 class="mt-5">الطلبات</h4>


<table class="table table-striped mt-5">
    <thead style="background-color:#1c1c1c; color:white;">
        <tr>
            <th scope="col">
                @Html.DisplayName("رقم الطلب")
            </th>
            <th scope="col">
                @Html.DisplayName("تاريخ الطلب")
            </th>
            <th>
                @Html.DisplayName("شركة الشحن")
            </th scope="col">
            <th>
                @Html.DisplayName("اجمالي السعر")
            </th>
            <th scope="col">
                @Html.DisplayName("حالة الطلب")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td scope="row">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.shipping)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totalPrice)
            </td>
            <td>
                    @if(item.orderState == "جديد")
                    {
                        <span class="badge bg-primary">@item.orderState</span>
                    }
                    else if(item.orderState == "جاري التجهيز" || item.orderState == "تم الشحن")
                    {
                        <span class="badge bg-success">@item.orderState</span>
                    }
                    else if(item.orderState == "تم الاستلام من العميل")
                    {
                        <span class="badge bg-dark">@item.orderState</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">@item.orderState</span>
                    }

            </td>
            <td>
                <a class="btn btn-secondary" asp-action="Detailsproduct" asp-controller="Order" asp-route-id="@item.Id">المنتجات</a>
            </td>
        </tr>
}
    </tbody>
</table>
            @{
                int pageValue = Convert.ToInt32(Context.Request.Query["page"]);
            }

            @if(pageValue > 1 || Model.Count() >= 10)
            {
                @Html.PagedListPager((IPagedList)Model, page => Url.Action("index", new {page = page}), new X.PagedList.Web.Common.PagedListRenderOptions{DisplayItemSliceAndTotal=false, ContainerDivClasses = new [] {"navigation"}, LiElementClasses= new [] {"page-item"}, PageClasses= new [] {"page-link"}})
            }
@section Scripts {
    <script>
        document.getElementById("container").classList.remove('me-0');
        document.getElementById("container").classList.remove('pe-0');
    </script>
}