﻿@using ECommerce.ViewModel;
@using Microsoft.AspNetCore.Identity;
@model ShoppingCart
@inject UserManager<User> userManager;

    @{
    ViewData["Title"] = "السله";
}
<script>
    document.getElementById("container").classList.remove('me-0');
    document.getElementById("container").classList.remove('pe-0');
</script>
<div class="content page-container-cart" id="cart-content">
    <div class="the-container">
        @{
            <form id="submitForm" asp-action="_Checkout" asp-controller="Cart" method="post">
                @if (Model.Products.Count > 0)
                {
                    int numProduct = 0;
                    @foreach (var item in Model.Products)
                    {
                        <input hidden asp-for="Products[numProduct].Id" value="@item.Id" />

                        <div class="product-cart">
                            <input type="hidden" name="productId" value="@item.Id" />
                            <button onclick="confirmAlert(event,@item.Id)" class="delete-button">
                                <i class="bi bi-x-circle-fill deleteProduct"></i>
                            </button>

                            <div class="product-info">
                                <a asp-action="details" asp-controller="products" asp-route-id="@item.key" class="text-decoration-none text-reset">
                                    <img src="~/@item.image" alt="@item.Name">
                                </a>

                                <div class="product-details">
                                    <a asp-action="details" asp-controller="products" asp-route-id="@item.key" class="text-decoration-none text-reset">
                                        @if(item.ProductViewModel.ExistingOptions.Count <= 0 && item.count <= 0)
                                        {
                                            <h4 class="nameHover">@item.Name <span class="text-danger">(نفذت الكمية)</span></h4>
                                        }
                                        else
                                        {
                                            <h4 class="nameHover">@item.Name</h4>
                                        }

                                    </a>
                                    <p class="product-price">
                                        @item.price ر.س
                                    </p>
                                    <p class="product-summnay">
                                        الإجمالي
                                        @{
                                            double allPriceProduct = item.price * item.Quantity;
                                        }
                                        <span>@allPriceProduct ر.س</span>
                                    </p>
                                </div>
                            </div>


                            <div class="product-options" style="display:inherit;">


                                <label for="quantity">الكمية:</label>
                                <div class="form-group quantity-btn-container">
                                    <div class="product-row">

                                        @{
                                            if (item.Quantity < 50)
                                            {

                                                <input type="hidden" name="productId" class="product-id" value="@item.Id" />
                                                <button type="button" class="btn quantity-btn increment-quantity text-light"><i class="bi bi-plus"></i></button>

                                            }
                                            else
                                            {
                                                <button type="button" class="btn quantity-btn text-light" id="incrementQuantity"><i class="bi bi-plus"></i></button>
                                            }
                                        }


                                        <input type="number" class="form-control d-inline-block mx-2 quantity-input text-center px-2" name="quantity" value="@item.Quantity" min="1" max="50" readonly>
                                        <input type="hidden" class="hidden-quantity" name="hiddenQuantity" value="1">
                                        @{
                                            if (item.Quantity > 1)
                                            {

                                                <input type="hidden" name="productId" class="product-id" value="@item.Id" />
                                                <button type="button" class="btn quantity-btn decrement-quantity text-light"><i class="bi bi-dash"></i></button>

                                            }
                                            else
                                            {
                                                <button type="button" class="btn quantity-btn text-light" id="decrementQuantity"><i class="bi bi-dash"></i></button>
                                            }
                                        }

                                    </div>
                                </div>


                                <div>



                                    @{
                                        var existingOptionsCount = item.ProductViewModel.ExistingOptions.Count;
                                        var selectedOptionsCount = item.ProductViewModel.SelectedOptions?.Count ?? 0;

                                        for (int i = 0, j = 0; i < existingOptionsCount; i++)
                                        {
                                            var mainOption = item.ProductViewModel.ExistingOptions[i];
                                            var selectedOption = j < selectedOptionsCount ? item.ProductViewModel.SelectedOptions[j] : null;

                                            if (selectedOption != null && selectedOption.OptionId == mainOption.MainOptionId)
                                            {

                                                <label>@mainOption.MainOptionName</label>
                                                <input hidden name="Products[@numProduct].ProductViewModel.SelectedOptions[@j].OptionId" value="@mainOption.MainOptionId" />

                                                <select class="form-select text-center" style="padding:3px; width:30%;" name="Products[@numProduct].ProductViewModel.SelectedOptions[@j].SubOptionId" required>
                                                    <option value="" disabled>اختر @mainOption.MainOptionName</option>
                                                    @foreach (var subOption in mainOption.SubOptions)
                                                    {
                                                        if(subOption.SubOptionCount <= 0)
                                                        {
                                                            <option disabled class="text-danger fw-bold">@subOption.SubOptionName <span class="text-danger" style="color:red;">(نفذت الكمية)</span></option>
                                                        }
                                                        else
                                                        {
                                                            if (subOption.SubOptionId == item.ProductViewModel.SelectedOptions[j].SubOptionId && subOption.SubOptionCount != 0)
                                                            {
                                                                <option selected value="@subOption.SubOptionId">@subOption.SubOptionName</option>

                                                            }
                                                            else
                                                            {
                                                                <option value="@subOption.SubOptionId">@subOption.SubOptionName</option>
                                                            }
                                                        }

                                                    }
                                                </select>

                                                j++;
                                            }
                                            else
                                            {

                                                <div class="form-group">
                                                    <label>@mainOption.MainOptionName</label>
                                                    <input hidden name="Products[@numProduct].ProductViewModel.SelectedOptions[@i].OptionId" value="@mainOption.MainOptionId" />
                                                    <select class="form-select text-center" style="padding:3px; width:30%;" name="Products[@numProduct].ProductViewModel.SelectedOptions[@i].SubOptionId" required>
                                                        <option value="" selected disabled>اختر @mainOption.MainOptionName</option>

                                                        @foreach (var subOption in mainOption.SubOptions)
                                                        {
                                                            if(subOption.SubOptionCount <= 0)
                                                            {
                                                                <option disabled class="text-danger fw-bold">@subOption.SubOptionName <span class="text-danger" style="color:red;">(نفذت الكمية)</span></option>
                                                            }
                                                            else
                                                            {
                                                                if (subOption.SubOptionId == -1)
                                                                {
                                                                    <option disabled value="@subOption.SubOptionId">@subOption.SubOptionName</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@subOption.SubOptionId">@subOption.SubOptionName</option>

                                                                }
                                                            }

                                                        }
                                                    </select>
                                                </div>
                                            }
                                        }

                                    }

                                </div>

                            </div>



                        </div>
                        numProduct++;
                    }

                    <div class="cart-total-box">
                        <div style="display:flex; align-items:center; justify-content:space-between; position:relative; width:100%; padding: 10px 15px;">
                            <span class="cart-total-title no-margin">
                                <i class="bi bi-calculator"></i>
                                مجموع السلة
                            </span>
                            <span class="cart-total-amount" id="cartTotal">@Model.totalPrice ر.س</span>
                        </div>
                    </div>
                    <div class="cart-nav row shipping-bar">
                        <div class="col-sm-9" style="width:83% !important;" id="free-shipping-bar">
                        </div>
                        <div class="col-sm-3 cart-next-button mt-5 mb-5" style="">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <input hidden asp-for="totalPrice" value="@Model.totalPrice"/>
                                <button type="submit" style="background-color:rgb(175, 155, 65) !important;" form="submitForm" class="btn text-light">
                                    <span style="padding-left:10px;">إتمام الطلب</span>
                                    <i class="bi bi-arrow-left" style="font-size:18px !important; line-height:0px;"></i>
                                </button>

                            }
                            else
                            {
                                <a role="button" id="submit_cart" class="cart-nav-solid" onclick="showInPopup('@Url.Action("Login","Account",null, Context.Request.Scheme)','تسجيل دخول')">
                                    <span style="padding-left:10px;">إتمام الطلب</span>
                                    <i class="bi bi-arrow-left" style="font-size:18px !important; line-height:0px;"></i>
                                </a>
                            }

                        </div>
                    </div>
                }
                else
                {
                    <div class="text-center" style="margin-top:20%;">
                        <i class="bi bi-heartbreak" style="font-size:150px;"></i>
                        <h4 style="font-size:25px;">السلة فارغة</h4>

                        <a asp-action="index" asp-controller="home">
                            <button type="button" class="btn px-xxl-5 py-2 rounded-pill mt-xl-5" style="background-color:#dfb600; font-size:20px;">العودة للمتجر</button>
                        </a>

                    </div>
                }

            </form>
        }


    </div>
</div>



@section Scripts{


    <script>
        $(document).ready(function () {
            $(".increment-quantity").on("click", function () {
                var incrementButton = $(this);
                incrementButton.prop("disabled", true);

                var row = incrementButton.closest(".product-row");
                var productId = row.find(".product-id").val();
                var quantityInput = row.find(".quantity-input");
                var hiddenQuantityInput = row.find(".hidden-quantity");

                $.ajax({
                    type: "POST",
                    url: "/Cart/incrementQuantity",
                    data: { productId: productId, quantity: quantityInput.val() },
                    success: function (newQuantity) {
                        quantityInput.val(newQuantity);

                        hiddenQuantityInput.val(newQuantity);

                        setTimeout(function () {
                            incrementButton.prop("disabled", false);
                        }, 800);

                        window.location.href = '@Url.Action("Index", "Cart")';

                    },
                    error: function (error) {
                        console.error(error);

                        incrementButton.prop("disabled", false);
                    }
                });
            });
        });
    </script>



    <script>
        $(document).ready(function () {
            $(".decrement-quantity").on("click", function () {
                var decrementButton = $(this);
                decrementButton.prop("disabled", true);

                var row = decrementButton.closest(".product-row");
                var productId = row.find(".product-id").val();
                var quantityInput = row.find(".quantity-input");
                var hiddenQuantityInput = row.find(".hidden-quantity");

                $.ajax({
                    type: "POST",
                    url: "/Cart/decrementQuantity",
                    data: { productId: productId, quantity: quantityInput.val() },
                    success: function (newQuantity) {
                        quantityInput.val(newQuantity);

                        hiddenQuantityInput.val(newQuantity);

                        setTimeout(function () {
                            decrementButton.prop("disabled", false);
                        }, 800);

                        window.location.href = '@Url.Action("Index", "Cart")';

                    },
                    error: function (error) {
                        console.error(error);

                        decrementButton.prop("disabled", false);
                    }
                });
            });
        });
    </script>

    <script>
        function confirmAlert(e, productId) {
            e.preventDefault();

            Swal.fire({
                title: 'هل انت متأكد؟',
                text: "سيتم حذف المنتج اذا تم التاكيد",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'نعم, احذف المنتج'
            }).then((result) => {
                if (result.isConfirmed) {
                    var idToDelete = productId;

                    $.ajax({
                        url: '@Url.Action("RemoveFromCart", "Cart")',
                        method: 'POST',
                        data: { productId: idToDelete },
                        success: function (data) {
                            console.log('تم حذف المنتج');
                            window.location.href = '@Url.Action("Index", "Cart")';
                        },
                        error: function (error) {
                            console.error('حدث خطأ أثناء حذف المنتج');
                        }
                    });
                }
            })
        }
    </script>
}