@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model IEnumerable<ECommerce.Models.Product>


@{
    ViewData["Title"] = "الصفحة الرئيسية";
}

<script>
    document.getElementById("container").classList.remove('me-0');
    document.getElementById("container").classList.remove('pe-0');
</script>

<span id="RegisterNotfi" class="d-none">@TempData["RegisterNotfi"]</span>



<div class="container mt-5" style="background-color: rgb(248, 245, 242) !important; box-shadow:rgba(21, 24, 25, 0.1) 0px 2px 10px 0px!important;">
    
    <h5 class="mb-4">@Context.Request.Query["category"]</h5>

            <form asp-action="index" method="get">
                <div class="input-group input-group-sm mb-3 mt-4">
            <input type="text" class="form-control" name="search" value="@ViewData["search"]" required style="max-width:25%; border-radius:20px; font-size:16px;" aria-label="Sizing example input" placeholder="بحث" aria-describedby="inputGroup-sizing-md">
                    <span><button class="btn me-1" type="submit" style="background-color:#1c1c1c; color:white;"><i class="bi bi-search"></i></button></span>
                </div>
            </form>
            <br class="mt-5"/>
    <div class="row">
        @foreach(var item in Model)
        {
            <!-- بطاقة المنتج -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
                <a asp-action="details" asp-controller="products" asp-route-id="@item.key" class="text-decoration-none text-reset">
                    <div class="card product-card">
                        <img src="~/@item.Image" class="card-img-top w-100" alt="Product Image" style="height: 200px;">
                        <div class="card-body">
                            <h5 class="card-title mt-2 mb-4">@item.Name</h5>
                            <div class="d-flex justify-content-between align-items-center">
                                @{
                                    if(item.Discount > 0 && item.Discount != null)
                                    {
                                        <p class="card-text">@item.Price ر.س <span style="color:green" class="pe-5">خصم(%@item.Discount)</span></p>
                                    }
                                    else
                                    {
                                        <p class="card-text">@item.Price ر.س</p>
                                    }
                                }
                                
                                <form method="post" asp-action="AddToCart" asp-controller="Cart" asp-route-id="@item.Id">
                                    <button type="submit" class="btn btn-light btnCart"><i class="bi bi-cart"></i></button>
                                </form>
                                

                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }

    </div>
</div>


@{
            int pageValue = Convert.ToInt32(Context.Request.Query["page"]);
            string category = Context.Request.Query["category"].ToString();
            var search = ViewData["search"];
            }

            @if(pageValue > 1 || Model.Count() >= 20)
            {
                 @Html.PagedListPager((IPagedList)Model, page => Url.Action("index", new {page = page, category = category, search = ViewData["search"]}), new X.PagedList.Web.Common.PagedListRenderOptions{DisplayItemSliceAndTotal=false, ContainerDivClasses = new [] {"navigation mt-5 mb-5"}, LiElementClasses= new [] {"page-item"}, PageClasses= new [] {"page-link"}})
            }




@section Scripts{
    <script>
        var message = $('#RegisterNotfi').text();
        if(message !== ''){
            Swal.fire({
                title: message,
                text: '',
                icon: "success"
            })
        }
    </script>

    <script>
        document.getElementById("container").classList.remove('me-0');
        document.getElementById("container").classList.remove('pe-0');
    </script>
}