@model ECommerce.Models.Product

@{
    ViewData["Title"] = "تفاصيل المنتج";
}


<div class="container custom-container mt-5 mb-5" style="background-color: rgb(248, 245, 242) !important; box-shadow:rgba(21, 24, 25, 0.1) 0px 2px 10px 0px!important;">
    <div class="card border-0">
        <div class="row">
            <div class="col-md-12">
                <!-- اسم المنتج -->
                @if(Model.Count <= 0 && Model.ProductViewModel.ExistingOptions.Count <= 0)
                {
                    <h4 class="card-title mt-2 pe-2">@Model.Name <span class="text-danger">(نفذت الكمية)</span></h4>
                }
                else
                {
                    <h4 class="card-title mt-2 pe-2">@Model.Name</h4>
                }

                <!-- سعر المنتج -->
                <h5 class="card-text pe-2" style="color:rgb(175, 155, 65);">50 ر.س</h5>
                <!-- صورة المنتج -->
                <img src="~/@Model.Image" class="card-img-top mt-4 mb-4 border-2 shadow" alt="Product Image">
                @if(Model.Description != null)
                {
                    <p class="card-text">الوصف : @Model.Description</p>
                }
                
                @if(Model.MadeIn != null)
                {
                    <p class="card-text">الصناعة : @Model.MadeIn</p>
                }
                

                <div class="card-body text-right">
                    <!-- فورم لتحديد الكمية -->
                    <form method="post" asp-action="AddToCart" asp-controller="Cart" asp-route-id="@Model.Id" onsubmit="updateQuantity()">

                        @for (int i=0; i < Model.ProductViewModel.ExistingOptions.Count; i++)
                        {
                            <div class="form-group">
                                <label>@Model.ProductViewModel.ExistingOptions[i].MainOptionName</label>
                                <input hidden asp-for="ProductViewModel.SelectedOptions[i].OptionId" value="@Model.ProductViewModel.ExistingOptions[i].MainOptionId" />
                                <select class="form-select" asp-for="ProductViewModel.SelectedOptions[i].SubOptionId" required>
                                    <option value="" disabled selected >اختر @Model.ProductViewModel.ExistingOptions[i].MainOptionName</option>
                                    @foreach (var subOption in Model.ProductViewModel.ExistingOptions[i].SubOptions)
                                    {
                                        if(subOption.SubOptionCount <= 0)
                                        {
                                            <option disabled class="text-danger fw-bold">@subOption.SubOptionName <span class="text-danger" style="color:red;">(نفذت الكمية)</span></option>
                                        }
                                        else
                                        {
                                            <option value="@subOption.SubOptionId">@subOption.SubOptionName</option>
                                        }

                                    }
                                </select>
                            </div>
                        }


                        <label for="quantity" class="mt-3">الكمية:</label>
                        @if(Model.Count <= 0 && Model.ProductViewModel.ExistingOptions.Count <= 0)
                        {
                            <div class="form-group quantity-btn-container">
                                <button disabled type="button" class="btn quantity-btn" id="decrementQuantity"><i class="bi bi-dash"></i></button>
                                <input type="number" class="form-control d-inline-block mx-2 quantity-input text-center px-2" id="quantity" value="0" min="0" max="0" readonly>

                                <input type="hidden" id="hiddenQuantity" name="hiddenQuantity" value="1">

                                <button disabled type="button" class="btn quantity-btn" id="incrementQuantity"><i class="bi bi-plus"></i></button>
                            </div>
                        }
                        else
                        {
                            <div class="form-group quantity-btn-container">
                                <button type="button" class="btn quantity-btn" id="decrementQuantity"><i class="bi bi-dash"></i></button>
                                <input type="number" class="form-control d-inline-block mx-2 quantity-input text-center px-2" id="quantity" name="quantity" value="1" min="1" max="50" readonly>

                                <input type="hidden" id="hiddenQuantity" name="hiddenQuantity" value="1">

                                <button type="button" class="btn quantity-btn" id="incrementQuantity"><i class="bi bi-plus"></i></button>
                            </div>
                        }

                        @if(Model.Count <= 0 && Model.ProductViewModel.ExistingOptions.Count <= 0)
                        {
                            <button type="button" disabled class="btn w-100 mt-4 btnHover" style="background-color:#dfb600">إضافة إلى السلة <i class="bi bi-cart"></i></button>
                        }
                        else
                        {
                            <button type="submit" class="btn w-100 mt-4 btnHover" style="background-color:#dfb600">إضافة إلى السلة <i class="bi bi-cart"></i></button>
                        }


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        document.getElementById("container").classList.remove('me-0');
        document.getElementById("container").classList.remove('pe-0');
    </script>

    <script>
        document.getElementById('incrementQuantity').addEventListener('click', function () {
            document.getElementById('quantity').stepUp();
        });

        document.getElementById('decrementQuantity').addEventListener('click', function () {
            document.getElementById('quantity').stepDown();
        });
    </script>

    <script>
        function updateQuantity() {
            var quantityInput = document.getElementById("quantity");
            var hiddenQuantityInput = document.getElementById("hiddenQuantity");
            hiddenQuantityInput.value = quantityInput.value;
        }
    </script>
}