@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model IEnumerable<ECommerce.Models.Product>

@{
    ViewData["Title"] = "المنتجات";
}



<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="bg-black col-auto col-md-4 col-lg-3 min-vh-100 d-flex flex-column justify-content-between" style="background-color:black !important;">
            <div class="bg-black p-2" style="background-color:black !important;">
                <ul class="nav nav-pills flex-column pt-3 px-0">
                    <li class="nav-item">
                        <a asp-action="index" asp-controller="AdminDashboard" class="nav-link text-white">
                            <i class="fs-5 fa bi-clipboard-data"></i>
                            <span class="fs-5 d-none d-sm-inline me-2">لوحة التحكم</span>
                        </a>
                    </li>
                    <li class="nav-item activeLi">
                        <a asp-action="index" asp-controller="AdminProduct" class="nav-link text-white">
                            <i class="fs-5 fa bi-box-seam"></i>
                            <span class="fs-5 d-none d-sm-inline me-2">المنتجات</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="index" asp-controller="Category" class="nav-link text-white">
                            <i class="fs-5 fa bi-layers-fill"></i>
                            <span class="fs-5 d-none d-sm-inline me-2">الفئات</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="index" asp-controller="ShippingCompanies" class="nav-link text-white">
                            <i class="fs-5 fa bi-airplane-fill"></i>
                            <span class="fs-5 d-none d-sm-inline me-2">شركات الشحن</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="index" asp-controller="AdminOrder" class="nav-link text-white">
                            <i class="fs-5 fa bi-bag-check"></i>
                            <span class="fs-5 d-none d-sm-inline me-2">الطلبيات</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>



        <div>
            <h3>المنتجات</h3>
            <hr />
            <p>
                <a asp-action="Create" class="btn btn-primary">منتج جديد</a>
            </p>

            <form asp-action="index" method="get">
                <div class="input-group input-group-sm mb-3 mt-4">
                    <input type="text" class="form-control" name="search" required style="max-width:25%; border-radius:20px; font-size:16px;" aria-label="Sizing example input" placeholder="بحث" aria-describedby="inputGroup-sizing-md">
                    <span><button class="btn me-1" type="submit" style="background-color:#1c1c1c; color:white;"><i class="bi bi-search"></i></button></span>
                </div>
            </form>




                <table class="table table-striped">
                <thead style="background-color:#1c1c1c; color:white;">
                        <tr>
                        <th>
                        </th>
                            <th class="">
                            @Html.DisplayName("الاسم")<span><a style="display:contents;" asp-action="index" asp-route-colName="name"><button class="btn p-0" style="background-color:#1c1c1c;"><i class="bi bi-arrow-down-short text-white"></i></button></a></span>
                            </th>
                        <th class="">
                            @Html.DisplayName("الفئة")<span><a style="display:contents;" asp-action="index" asp-route-colName="cate"><button class="btn p-0" style="background-color:#1c1c1c;"><i class="bi bi-arrow-down-short text-white"></i></button></a></span>
                            </th>
                        <th class="">
                            @Html.DisplayName("الكمية")<span><a style="display:contents;" asp-action="index" asp-route-colName="count"><button class="btn p-0" style="background-color:#1c1c1c;"><i class="bi bi-arrow-down-short text-white"></i></button></a></span>
                            </th>
                        <th class="">
                            @Html.DisplayName("الخصم")<span><a style="display:contents;" asp-action="index" asp-route-colName="dis"><button class="btn p-0" style="background-color:#1c1c1c;"><i class="bi bi-arrow-down-short text-white"></i></button></a></span>
                            </th>
                        <th class="">
                            @Html.DisplayName("السعر")<span><a style="display:contents;" asp-action="index" asp-route-colName="pri"><button class="btn p-0" style="background-color:#1c1c1c;"><i class="bi bi-arrow-down-short text-white"></i></button></a></span>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                                <tr>
                                    <td class="text-center" style="width:100px;">
                                        <img src="~/@item.Image" class="rounded img-fluid" width="100px"/>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.category.Name)
                                    </td>
                                    <td>
                                    @if(item.Count <= 0 && item.ProductViewModel.ExistingOptions.Count <= 0)
                                    {
                                        <p class="text-danger">نفذت الكمية</p>
                                    }
                                    else if(item.ProductViewModel.ExistingOptions.Count <= 0)
                                    {
                                        @Html.DisplayFor(modelItem => item.Count)
                                    }
                                    else
                                    {
                                        <p class="">المنتج له خيارات</p>
                                    }
                                </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Discount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Price)
                                    </td>
                                    <td class="text-center">

                                    <div class="dropdown">
                                        <a role="button" class="btn btn-light dropdown-toggle" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-toggles"></i></a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="text-align:center;">
                                        <a class="btn btn-secondary dropdown-item" asp-action="Edit" asp-route-id="@item.Id">تعديل <i class="bi bi-gear-fill"></i></a>
                                        <a class="btn btn-info dropdown-item" asp-action="Details" asp-route-id="@item.Id">التفاصيل <i class="bi bi-clipboard-minus-fill"></i></a>
                                        <a class="btn btn-info dropdown-item"  asp-action="Options" asp-controller="AdminProduct" asp-route-id="@item.Id">الخيارات <i class="bi bi-patch-plus-fill"></i></a>
                                        <button class="btn btn-danger dropdown-item" onclick="confirmAlert(event,@item.Id)">حذف <i class="bi bi-trash-fill"></i></button>
                                        </div>
                                    </div>

                                    </td>
                                </tr>

                        }
                    </tbody>
                </table>

            @{
                int pageValue = Convert.ToInt32(Context.Request.Query["page"]);
                string tempData = Context.Request.Query["colName"].ToString();
                string Search = Context.Request.Query["search"].ToString();
                if(Search != null)
                {
                    @Html.PagedListPager((IPagedList)Model, page => Url.Action("index", new {page = page, search = Search}), new X.PagedList.Web.Common.PagedListRenderOptions{DisplayItemSliceAndTotal=false, ContainerDivClasses = new [] {"navigation"}, LiElementClasses= new [] {"page-item"}, PageClasses= new [] {"page-link"}})
                }
                else if(tempData != null)
                {
                    @Html.PagedListPager((IPagedList)Model, page => Url.Action("index", new {page = page, colName = tempData}), new X.PagedList.Web.Common.PagedListRenderOptions{DisplayItemSliceAndTotal=false, ContainerDivClasses = new [] {"navigation"}, LiElementClasses= new [] {"page-item"}, PageClasses= new [] {"page-link"}})

                }
                else if (pageValue > 1 || Model.Count() >= 8)
                {
                    @Html.PagedListPager((IPagedList)Model, page => Url.Action("index", new {page = page}), new X.PagedList.Web.Common.PagedListRenderOptions{DisplayItemSliceAndTotal=false, ContainerDivClasses = new [] {"navigation"}, LiElementClasses= new [] {"page-item"}, PageClasses= new [] {"page-link"}})
                }
            }


        </div>




    </div>
</div>

@section Scripts{

    <script>
        $(document).ready(function() {
            $('ul.pagination > li.disabled > a').addClass('page-link');
        });
    </script>

    <script>
        function confirmAlert(e, id) {
            e.preventDefault();

            Swal.fire({
                title: 'هل انت متأكد؟',
                text: "سيتم حذف المنتج اذا تم التاكيد",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'نعم, احذف المنتج'
            }).then((result) => {
                if (result.isConfirmed) {
                    var idToDelete = id; 

                    $.ajax({
                        url: '@Url.Action("Delete", "AdminProduct")',
                        method: 'POST',
                        data: { id: idToDelete },
                        success: function (data) {

                            console.log('تم حذف المنتج');
                            window.location.href = '@Url.Action("Index", "AdminProduct")'; 
                        },
                        error: function (error) {
                            console.error('حدث خطأ أثناء حذف المنتج');
                        }
                    });
                }
            })
        }



    </script>

}

